<div class="contact-form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-group">
            <label for="name">{{"contactFormular.firstInput" | translate}}</label>
            <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                placeholder={{[namePlaceHolder]}} required>
            @if(!name.valid && name.touched){
            <span style="color: #EC7B7BCC; font-size: 16px">{{"contactFormular.firstInputError" | translate}}</span>
            }
        </div>
        <div class="form-group">
            <label for="email">{{"contactFormular.secondInput" | translate}}</label>
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="mail" name="email"
                placeholder={{[emailPlaceHolder]}} required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if(!email.valid && email.touched){
            <span style="color: #EC7B7BCC; font-size: 16px">{{"contactFormular.secondInputError" | translate}}</span>
            }
        </div>
        <div class="form-group">
            <label for="subject">{{"contactFormular.thirdInput" | translate}}</label>
            <input #message="ngModel" [(ngModel)]="contactData.message" minlength="4" id="subject" name="subject"
                placeholder={{[messagePlaceHolder]}} required>
            @if(!message.valid && message.touched){
            <span style="color: #EC7B7BCC; font-size: 16px">{{"contactFormular.thirdInputError" | translate}}</span>
            }
        </div>
        <div class="checkbox-validation-section">
            <div class="checkbox-and-validation">
                <label>
                    <input #checkbox="ngModel" [(ngModel)]="contactData.agreedToPrivacy" type="checkbox"
                        name="agreedToPrivacy">
                    <span>{{"contactFormular.legalNoticeMessage" | translate}}</span>
                </label>
            </div>
            @if(!checkbox.valid && checkbox.touched){
            <span style="color: #EC7B7BCC; font-size: 16px">{{"contactFormular.legalNoticeMessageError" |
                translate}}</span>
            }
            <input id="submit-input" type="submit" value="Say Hello" [disabled]="!contactForm.valid">
        </div>
    </form>
</div>