@use '../../../breakpoints.scss' as breakpoint;

$standardGreen: rgba(61, 207, 182, 0.5);
$standardWhite: rgba(255, 255, 255, 0.8);

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    color: $standardGreen;
    border-width: 1px, 0px, 1px, 0px;
}

.checkbox-validation-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.checkbox-and-validation {

    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 56px;

    label {
        display: flex;
        gap: 8px;
        align-items: center;

        a {
            color: $standardGreen;
            text-decoration: none;
        }
    }

    span {
        font-family: 'Karla';
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: $standardWhite;

        a {
            color: $standardGreen;
            text-decoration: none;
        }
    }

    img {
        cursor: pointer;
    }
}

.form-group {

    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid $standardGreen;
    border-bottom: 1px solid $standardGreen;
    padding: 32px;

    label {
        font-family: 'Fira Code';
        font-size: 24px;
        font-weight: 500;
        line-height: 28.8px;
    }

    textarea {
        resize: vertical;
        max-height: 240px;
        min-height: 48px;
        background-color: #1C1C1C;
        border: none;
    }

    input {
        border: none;
        background-color: #1C1C1C;
    }
}

#mail {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: $standardWhite;
}

#name {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: $standardWhite;
}

#subject {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: $standardWhite;
}

#submit-input {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    color: $standardWhite;
    background-color: #1C1C1C;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 140px;
    height: 48px;
    padding: 0px 24px 0px 24px;
    border-radius: 100px;
    margin-top: 24px;
    align-self: center;
}

.disabled-button {
    opacity: 0.35;
    cursor: auto;
}

.active-button {
    opacity: 1;
    cursor: pointer;
}

@include breakpoint.screen1350 {
    .form-group {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
}

@include breakpoint.screen700 {
    form {
        align-items: center;
        width: unset;
    }

    .form-group {
        max-width: 560px;
        width: 100%;
    }

    .checkbox-and-validation {
        padding-top: 50px;
        align-self: center;
        width: 100%;

        span {
            align-self: center;
        }
    }
}

@include breakpoint.screen600 {

    .checkbox-and-validation {
        label {
            flex-direction: column-reverse;

            span {
                text-align: center;
            }
        }
    }
}

@include breakpoint.screen400 {
    .form-group {
        text-align: center;
    }

    #name {
        text-align: center;
    }

    #mail {
        text-align: center;
    }

    #subject {
        text-align: center;
    }

    .checkbox-validation-section {
        span {
            text-align: center;
        }
    }
}