<div class="contact-form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-group">
            <label for="name">What's your name?</label>
            <input [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name goes here"
                required>
        </div>
        <div class="form-group">
            <label for="email">What's your email?</label>
            <input [(ngModel)]="contactData.email" type="email" id="mail" name="email" placeholder="youremail@email.com"
                required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        </div>
        <div class="form-group">
            <label for="subject">How can I help you?</label>
            <input #message="ngModel" [(ngModel)]="contactData.message" id="subject" name="subject"
                placeholder="Hello Simon, I am interested in..." required>
            @if(!message.valid && message.touched){
            <span>Please enter a message</span>
            }
        </div>
        <div class="checkbox-validation-section">
            <div class="checkbox-and-validation">
                <img src="../../../../assets/img/checkbox_icon_blank.svg" alt="checkbox_blank">
                <span>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as
                    outlined.
                </span>
            </div>
            <input id="submit-input" type="submit" value="Say Hello ;)">
        </div>
    </form>
</div>