<div class="contact-form-container">
    <form action="/action_page.php">
        <div class="form-group">
            <label for="name">What's your name?</label>
            <input type="text" id="name" name="name" placeholder="Your name goes here">
        </div>
        <div class="form-group">
            <label for="email">What's your email?</label>
            <input type="text" id="mail" name="email" placeholder="youremail@email.com">
        </div>
        <div class="form-group">
            <label for="subject">How can I help you?</label>
            <input id="subject" name="subject" placeholder="Hello Simon, I am interested in...">
        </div>
        <input id="submit-input" type="submit" value="Say Hello ;)">
    </form>
</div>