@use '../../breakpoints.scss' as breakpoint;

$standardWhite: rgba(255, 255, 255, 0.8);
$standardGreen: rgba(61, 207, 182, 1);
$backgroundColor: #1C1C1C;
$backgroundPattern: linear-gradient(55.22deg,
        #1C1C1C 36.26%,
        #08463B 93.28%);

footer {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    max-width: 1440px;
    background: $backgroundColor;

    img {
        width: 400px;
        align-self: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.my-logo {
    height: 70px;
    width: 96px;
    cursor: pointer;
    position: relative;

    img {
        width: 96px;
    }

    img:nth-child(1) {
        position: absolute;
        left: 0;
    }
}

.hidden {
    display: none;
}

.my-person-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.my-person-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 8px;

    h2 {
        color: $standardGreen;
    }
}

.span-footer-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: $standardWhite;
}

.copyright-section {
    font-family: 'Fira Code';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    color: $standardGreen;
}

.platform-links {
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 8px;
    padding-left: 8px;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $standardWhite;
        cursor: pointer;

        &:hover {
            color: $standardGreen;
        }
    }

    ::after {
        content: "";
        position: absolute;
        left: 0;
        transform: translateX(-20%) scale(0);
        width: 8px;
        height: 8px;
        background-color: $standardGreen;
        border-radius: 50%;
        transition: transform 0.1s ease-in-out;
    }

    a:hover::after {
        transform: translateX(-50%) scale(1);
    }
}

// all media queries listed here

@include breakpoint.screen1350 {
    .platform-links {
        font-size: 20px;
    }

    .my-person-wrapper {
        width: 100%;
    }

    .span-footer-section {
        font-size: 20px;
    }
}

@include breakpoint.screen800 {
    .platform-links {
        font-size: 18px;
    }

    .span-footer-section {
        font-size: 18px;
    }
}

@include breakpoint.screen600 {

    .footer-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .my-person-box {
        height: unset;
    }

    .copyright-section {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        width: 100%;
    }

    .platform-links {
        gap: 2px;
    }
}

@include breakpoint.screen500 {
    footer {
        padding-right: 8px;
        padding-left: 8px;

        img {
            width: 300px;
            right: calc((100% - 300px)/2);
        }
    }

    .copyright-section {
        font-size: 16px;
        padding-bottom: 16px;
    }

    .platform-links {
        ::after {
            content: none;
        }

        a {
            cursor: pointer;

            &:hover {
                color: $standardWhite;
            }
        }
    }
}

@include breakpoint.screen400 {
    .my-person-box {
        text-align: left;
    }

    .platform-links {
        gap: 8px;
        text-align: center;

        a {
            justify-content: center;
        }
    }
}