<footer>
    <div class="my-person-wrapper">
        <div class="my-person-box">
            <div class="h2-footer-section">
                <h2>Simon</h2>
                <h2>Kiesner</h2>
            </div>
            <div class="span-footer-section">
                <span>{{"footer.jobTitle" | translate}}</span>
                <span>{{"footer.location" | translate}}</span>
            </div>
        </div>
        <div class="platform-links">
            <a href="https://github.com/Simeon199" target="_blank" rel="noopener noreferrer">Github</a>
            <a href="#">LinkedIn</a>
            <a href="mailto:simon.kiesner@gmx.de">Email</a>
            <a routerLink="/legal-notice">Legal Notice</a>
        </div>
    </div>
    <div class="copyright-section">
        © Simon Kiesner 2025
    </div>
    <div class="signature">
        <img src="../../../assets/img/signature.svg" alt="signature">
    </div>
</footer>