footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 96px;
    padding-right: 96px;
    padding-left: 96px;
    height: 126px;
}

.my-person-box {

    h2 {
        color: rgba(61, 207, 182, 1);
    }

    .span-footer-section {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.8);
    }
}