<div class="contact">
    <div class="container-without-contact-form">
        <div class="h2-contact-section">
            <h2>Kontakt</h2>
            <h2>Lassen Sie uns zusammenarbeiten</h2>
        </div>
        <div class="letter-section">
            <h2>Sie benötigen Hilfe bei einem Problem?</h2>
            <div class="span-section">
                <span>
                    Nutzen Sie gerne das Kontaktformular, um mir eine Nachricht zu senden. Ich freue mich darauf, mehr
                    über Ihre Ideen zu erfahren und Ihr Projekt zu unterstützen.
                    Benötigen Sie Unterstützung im Frontend-Bereich?
                </span>
                <span> Lassen Sie uns gerne darüber sprechen!</span>
            </div>
        </div>
    </div>
    <app-contact-form></app-contact-form>
</div>