<div class="contact">
    <div class="h2-contact-section">
        <h2>Contact Me</h2>
        <h2>Let's work together</h2>
    </div>
    <div class="letter-section">
        <h2>Got a problem to solve?</h2>
        <div class="span-section">
            <span>
                Contact me through this form, I am interested
                in hearing from you, knowing your ideas and
                contributing to your projects with my work.
                Need a Frontend developer?
            </span>
            <span>Let's talk!</span>
        </div>
    </div>
</div>