<div class="contact">
    <div class="container-without-contact-form">
        <div class="h2-contact-section">
            <h2>{{"contact.h2First" | translate}}</h2>
            <h2>{{"contact.h2Second" | translate}}</h2>
        </div>
        <div class="letter-section">
            <h2>{{"contact.h2Third" | translate}}</h2>
            <div class="span-section">
                <span>
                    {{"contact.spanFirst" | translate}}
                </span>
                <span> {{"contact.spanSecond" | translate}}</span>
            </div>
        </div>
    </div>
    <app-contact-form></app-contact-form>
</div>