@use '../../breakpoints.scss' as breakpoint;

$standardGreen: rgba(61, 207, 182, 1);
$standardWhite: rgba(255, 255, 255, 0.8);

.contact {
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding-bottom: 96px;
    padding-left: 24px;
}

.container-without-contact-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 75%;
    max-height: 500px;
    height: 80%;
}

.h2-contact-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.letter-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 40px;
}

h2 {
    color: $standardGreen;
    text-align: left;
}

h2:nth-child(1) {
    font-family: 'Karla';
    font-weight: 500;
    line-height: 28.06px;
    font-size: 24px;
}

h2:nth-child(2) {
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}

span {
    font-family: 'Karla';
    font-size: 16px;
    line-height: 19.2px;
    text-align: left;
}

span:nth-child(1) {
    color: $standardWhite;
    font-weight: 400;
}

span:nth-child(2) {
    color: $standardGreen;
    font-weight: 700;
}

// All media queries listed here

@include breakpoint.screen1350 {
    .contact {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .h2-contact-section {
        gap: 16px;
    }

    h2:nth-child(2) {
        font-size: 56px;
        line-height: 56px;
        text-align: left;
    }
}

@include breakpoint.screen950 {
    h2:nth-child(2) {
        font-size: 48px;
    }
}

@include breakpoint.screen700 {
    .container-without-contact-form {
        width: 100%;
        height: unset;
    }

    h2:nth-child(2) {
        font-size: 40px;
    }
}

@include breakpoint.screen500 {
    h2:nth-child(2) {
        font-size: 28px;
        line-height: 32px;
    }
}