<header (click)="hideDropdown()">
    <div class="navbar-responsive-design">
        <div class="my-logo-responsive">
            <a routerLink="/">
                <h3>SK</h3>
            </a>
        </div>
        <img src="../../../assets/img/menu_icon.svg" (click)="showDropdown(); stopEventPropagation($event)"
            alt="menu-icon">
        <div class="dropdown-responsive" *ngIf="isDropdownMenuActivated">
            <a routerLink="/" fragment="person-description-section">{{"header.navbarTitleFirst" | translate}}</a>
            <a routerLink="/" fragment="skills-section">{{"header.navbarTitleSecond" | translate}}</a>
            <a routerLink="/" fragment="projects">{{"header.navbarTitleThird" | translate}}</a>
            <div class="language-selection-responsive" *ngIf="!isHiddenRoute()">
                <div class="languageSelection">
                    <button (click)="toggleLanguage()"
                        [ngClass]="{'active-button-style': isGermanButtonActive, 'inactive-button-style': !isGermanButtonActive}"
                        (click)="checkActiveButtonStyle('german')">
                        DE
                    </button>
                    <button (click)="toggleLanguage()"
                        [ngClass]="{'active-button-style': !isGermanButtonActive, 'inactive-button-style': isGermanButtonActive}"
                        (click)="checkActiveButtonStyle('english')">
                        EN
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="language-selection" *ngIf="!isHiddenRoute()">
            <div class="languageSelection">
                <button (click)="toggleLanguage()"
                    [ngClass]="{'active-button-style': isGermanButtonActive, 'inactive-button-style': !isGermanButtonActive}"
                    (click)="checkActiveButtonStyle('german')">
                    DE
                </button>
                <button (click)="toggleLanguage()"
                    [ngClass]="{'active-button-style': !isGermanButtonActive, 'inactive-button-style': isGermanButtonActive}"
                    (click)="checkActiveButtonStyle('english')">
                    EN
                </button>
            </div>
        </div>
        <a routerLink="/" fragment="person-description-section">{{"header.navbarTitleFirst" | translate}}</a>
        <a routerLink="/" fragment="skills-section">{{"header.navbarTitleSecond" | translate}}</a>
        <a routerLink="/" fragment="projects">{{"header.navbarTitleThird" | translate}}</a>
    </nav>
    <div class="my-logo">
        <h3>Simon</h3>
        <h3>Kiesner</h3>
    </div>
</header>