@use '../../breakpoints.scss' as breakpoint;

$backgroundPattern: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

$standardGreen: rgba(61, 207, 182, 1);
$standardWhite: rgba(255, 255, 255, 1);

header {
    background-image: $backgroundPattern;
    display: flex;
    justify-content: space-between;
    color: $standardWhite;
    max-width: 1440px;
    padding: 24px 24px 24px 24px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    // width: min(100%, 1440px);
}

.navbar-responsive-design {
    display: none;
}

.my-logo-responsive {
    font-size: 32px;
    color: $standardGreen;
}

.dropdown-responsive {
    position: absolute;
    display: flex;
    right: 2%;
    top: 80%;
    flex-direction: column;
    gap: 8px;
    z-index: 99;
    padding: 40px;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid $standardGreen;
    background: $backgroundPattern;
}

.language-selection-responsive {
    font-size: 12px;
    display: flex;
    align-items: center;
    border: 2px solid $standardGreen;
    border-radius: 100px;

    button {
        border-radius: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        font-family: 'Fira Code';
        cursor: pointer;
        border: none;
    }
}

.active-button-style {
    background-color: $standardGreen;
    font-weight: 700;
    color: $standardWhite;
    padding-right: 12px;
    padding-left: 12px;
}

.inactive-button-style {
    background-color: rgb(19, 47, 42);
    color: $standardGreen;
    font-weight: 700;
    padding-right: 12px;
    padding-left: 12px;
}

a {
    text-decoration: none;
    color: $standardWhite;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    gap: 32px;

    a:nth-child(1) {
        font-family: 'Roboto Mono';
        font-size: 22px;
    }

    a {
        position: relative;
        font-family: 'Roboto Mono';
        font-size: 22px;
    }

    ::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%) scale(0);
        width: 8px;
        height: 8px;
        background-color: $standardGreen;
        border-radius: 50%;
        transition: transform 0.1s ease-in-out;
    }

    a:hover::after {
        transform: translateX(-50%) scale(1);
    }
}

.my-logo {
    font-size: 24px;
    cursor: pointer;
}

.language-selection {
    font-size: 18px;
    display: flex;
    align-items: center;
    border: 2px solid $standardGreen;
    border-radius: 100px;
    gap: 10px;

    button {
        border-radius: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 19.2px;
        font-family: 'Fira Code';
        cursor: pointer;
        border: none;
    }

    .active-button-style {
        background-color: $standardGreen;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        padding-right: 20px;
        padding-left: 20px;
    }

    .inactive-button-style {
        background-color: rgb(19, 47, 42);
        color: rgba(61, 207, 182, 0.5);
        font-weight: 400;
        padding-right: 20px;
        padding-left: 20px;
    }
}

// All media queries listed here

@include breakpoint.screen1350 {
    header {
        padding-right: 24px;
        padding-left: 24px;
    }

    .navbar-responsive-design {
        display: flex;
        align-items: center;
        width: 96%;
        justify-content: space-between;
    }

    .my-logo-responsive {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .dropdown-responsive {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    .my-logo {
        display: none;
    }
}