<header (click)="hideDropdown()">
    <div class="navbar-responsive-design">
        <div class="my-logo-responsive">
            <a routerLink="/">
                <h3>SK</h3>
            </a>
        </div>
        <img src="../../../assets/img/menu_icon.svg"
            (click)="setBigOverlayHeaderBoolean(); showDropdown(); stopEventPropagation($event)" alt="menu-icon">
        <div class="dropdown-responsive" *ngIf="isDropdownMenuActivated" (click)="stopEventPropagation($event)">
            <a routerLink="/" fragment="person-description-section">{{"header.navbarTitleFirst" | translate}}</a>
            <a routerLink="/" fragment="skills-section">{{"header.navbarTitleSecond" | translate}}</a>
            <a routerLink="/" fragment="projects">{{"header.navbarTitleThird" | translate}}</a>
            <div class="language-selection-responsive" *ngIf="!isHiddenRoute()">
                <div class="languageSelection">
                    <button (click)="toggleLanguage()"
                        [ngClass]="{'active-button-style': isGermanButtonActive, 'inactive-button-style': !isGermanButtonActive}"
                        (click)="checkActiveButtonStyle('german')">
                        DE
                    </button>
                    <button (click)="toggleLanguage()"
                        [ngClass]="{'active-button-style': !isGermanButtonActive, 'inactive-button-style': isGermanButtonActive}"
                        (click)="checkActiveButtonStyle('english')">
                        EN
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="language-selection" *ngIf="!isHiddenRoute()">
            <div class="languageSelection">
                <button (click)="toggleLanguage()"
                    [ngClass]="{'active-button-style': isGermanButtonActive, 'inactive-button-style': !isGermanButtonActive}"
                    (click)="checkActiveButtonStyle('german')">
                    DE
                </button>
                <button (click)="toggleLanguage()"
                    [ngClass]="{'active-button-style': !isGermanButtonActive, 'inactive-button-style': isGermanButtonActive}"
                    (click)="checkActiveButtonStyle('english')">
                    EN
                </button>
            </div>
        </div>
        <a routerLink="/" fragment="person-description-section">{{"header.navbarTitleFirst" | translate}}</a>
        <a routerLink="/" fragment="skills-section">{{"header.navbarTitleSecond" | translate}}</a>
        <a routerLink="/" fragment="projects">{{"header.navbarTitleThird" | translate}}</a>
    </nav>
    <div class="my-logo" (mouseenter)="isMyLogoBeingHovered = true" (mouseleave)="isMyLogoBeingHovered = false">
        <img src="../../../assets/img/my_name_white.svg" alt="name_white" [ngClass]="{'hidden': isMyLogoBeingHovered}">
        <img src="../../../assets/img/my_name_green.svg" alt="name_green" [ngClass]="{'hidden': !isMyLogoBeingHovered}">
    </div>
    <div class="big-header-overlay" (click)="setBigOverlayHeaderBoolean()"
        *ngIf="sharedService.isOverlayActive$ |async"></div>
</header>