header {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono';
    color: #E15544;
    height: 92px;
    padding: 24px 140px 24px 140px;


    a {
        text-decoration: none;
        color: #E15544;
        cursor: pointer;
    }

    nav {
        display: flex;
        gap: 24px;
    }
}