<footer>
    <div class="me-section">
        <span>&lt;SK&gt;</span>
        <span>Frontend Developer</span>
    </div>
    <div class="policy-section">
        <div class="name-and-date">
            <span>© Simon Kiesner 2025</span>
        </div>
        <div class="privacy-and-legal-notice">
            <span>Legal Notice</span>
            <span>Privacy Policy</span>
        </div>
    </div>
    <div class="social-media-section">
        <img src="../../assets/img/github_button.png" alt="Git">
        <img src="../../assets/img/email_button.png" alt="Mail">
        <img src="../../assets/img/linkedin_button.png" alt="LinkedIn">
    </div>
</footer>