.about-me {
    display: flex;
    justify-content: space-between;

    .contact {
        display: flex;
        flex-direction: column;
        gap: 82px;

        .name-and-profession {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contact-me-link {
            transform: rotate(90deg);

            a {
                text-decoration: none;
                color: #E15544;
            }
        }
    }

    .image-container-me img {
        width: 100px;
    }
}