@use '../../breakpoints.scss' as breakpoint;

$standardGreen: rgba(61, 207, 182, 1);
$standardWhite: rgba(255, 255, 255, 0.8);
$backgroundPattern: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

section {
    width: 100%;
}

.recency-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-right: 96px;
    padding-left: 96px;
    width: 100%;
    max-width: 1920px; // 1440px
    overflow: hidden;
    margin: 0 auto;

    h2 {
        color: $standardGreen;
    }
}

.recency-carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    position: relative;
}

.quotes-image-wrapper {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 32%;

    img {
        width: 64px;
    }
}

.recency-track {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    gap: 80px;
}

app-single-recency {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0.6;
    transform: scale(0.9);
}

app-single-recency.active {
    transform: scale(1.125);
    opacity: 1;
}

app-description-wrapper {
    color: $standardWhite;
}

.navigate-section {
    display: flex;
    align-items: center;
    gap: 16px;

    svg:nth-child(1) {
        cursor: pointer;
    }

    svg:nth-child(5) {
        cursor: pointer;
    }
}

.all-ellipse-container {
    display: flex;
    gap: 8px;
}

.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-wrapper:first-child:hover {
    svg {
        transform: scale(1.125);
    }
}

.arrow-wrapper:last-child:hover {
    svg {
        transform: scale(1.125);
    }
}

@include breakpoint.screen500 {
    .recency-section {
        gap: 32px;
        padding-bottom: 48px;
        padding-top: 48px;
    }

    .quotes-image-wrapper {
        left: 34%;

        img {
            width: 40px;
            height: auto;
        }
    }
}