<div class="recency-section">
    <h2>What my colleagues said about me</h2>
    <div class="recency-carousel">
        <app-single-recency *ngFor="let key of getKeys()" [recency]="recencies[key]"
            [style.transform]="'translateX(' + currentTranslateX + 'px)'"
            [style.transition]="'transform 0.5s ease-in-out'">
        </app-single-recency>
    </div>
    <div class="navigate-section">
        <img src="../../../assets/img/arrow_left.svg" alt="arrow-left" (click)="navigate('left')">
        <img src="../../../assets/img/ellipse.svg" alt="ellipse1">
        <img src="../../../assets/img/ellipse.svg" alt="ellipse2">
        <img src="../../../assets/img/ellipse.svg" alt="ellipse3">
        <img src="../../../assets/img/arrow_right.svg" alt="arrow-right" (click)="navigate('right')">
    </div>
</div>