.single-recency {
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 46, 43);
    border: 1px solid rgba(61, 207, 182, 1);
    color: rgba(255, 255, 255, 0.8);
    max-width: 568px;
    flex-wrap: wrap;
    width: 632px;
    height: 248px;
    padding: 48px 40px 48px 40px;
    gap: 44px;
    border-radius: 32px;

    @media(max-width: 1200px) {
        width: 358px;
        padding: 40px; // Original: 40px 0px 0px 0px
        gap: 0px;
        justify: space-between;
    }

    @media(max-width: 500px) {
        width: 300px;
        // height: auto;
    }
}