@use '../../../breakpoints_special_devices.scss' as breakpoint;

$standardGreen: rgb(61, 207, 182);
$standardWhite: rgba(255, 255, 255, 0.8);
$backgroundPattern: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

@include breakpoint.screen320AndHeight480 {
    .close-button-img {
        padding-top: 215px;
    }
}

@include breakpoint.screen320AndHeight533 {
    .close-button-img {
        padding-top: 180px;
    }
}

@include breakpoint.screen320AndHeight568 {
    .close-button-img {
        padding-top: 180px;
    }
}

@include breakpoint.screen360AndHeight600 {
    .close-button-img {
        padding-top: 120px;
    }
}

@include breakpoint.screen360AndHeight640 {
    .close-button-img {
        padding-top: 100px;
    }
}

@include breakpoint.screen375AndHeight667 {
    .close-button-img {
        padding-top: 140px;
    }
}

@include breakpoint.screen768AndHeight360 {
    .close-button-img {
        padding-top: 448px;
    }
}