<div class="overlay">
    <div class="content-box">
        <div class="project-information">
            <h1>{{index}}</h1>
            <h2>{{title}}</h2>
            <h3>What is this project about?</h3>
            <span>{{description}}</span>
            <div class="used-technologies" *ngFor="let technology of technologyData | keyvalue">
                <div class="test-section" *ngIf="technology.value.title === title">
                    <div class="list-section" *ngFor="let item of technology.value.technologyList; let i = index">
                        <span>{{item}}</span>
                        <img src="{{technology.value.technologyImageIcons[i]}}" alt="technologyImageIcons">
                    </div>
                    <!-- <h2>{{ technology.value.technologyList }}</h2> -->
                </div>
            </div>
        </div>
        <div class="project-image">
            <img src="{{ imageSrc }}" alt="imageSrc">
        </div>
    </div>
</div>