@use '../../../breakpoints.scss' as breakpoint;
$standardGreen: rgb(61, 207, 182);
$standardWhite: rgba(255, 255, 255, 0.8);
$backgroundPattern: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

@include breakpoint.screen1350 {
    .content-box {
        width: 90%;
        height: 70%;

        h1 {
            font-size: 72px;
        }

        h2 {
            font-size: 56px;
        }

        h3 {
            font-size: 20px;
            line-height: 24px;
            text-align: left;
        }

        span {
            font-size: 16px;
            line-height: 19.2px;
            text-align: left;
        }
    }

    .next-project-image-section-responsive {
        display: flex;

        span {
            color: $standardGreen;
        }
    }

    .project-information {
        gap: 8px;
    }

    .project-image {
        display: flex;
        justify-content: center;
        align-items: end;


        img {
            height: auto;
            align-self: center;
            width: 70%;
            max-width: unset;
        }
    }

    .all-images {
        flex-direction: unset;
        align-items: unset;
        padding-right: unset;
        gap: unset;
    }

    button {
        font-size: 12px;
        padding: 8px;
    }

    .next-project-image-section {
        display: none;
    }

    .test-section {
        gap: 8px;
    }

    .links-to-project {
        display: flex;
        justify-content: space-between;
        padding-bottom: 48px;
        padding-top: 16px;
    }
}

@include breakpoint.screen1200 {
    .content-box {
        height: 96%;
    }

    .project-content-wrapper {
        flex-direction: column-reverse;
        height: 96%;
    }

    .all-images {
        width: 100%;
    }

    .project-information {
        width: 80%;
    }
}

@include breakpoint.screen950 {
    .content-box {
        flex-direction: column-reverse;
        height: 96%;

        h1 {
            font-size: 64px;
            line-height: 64px;
        }

        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 20px;
        }
    }

    .project-information {
        width: 100%;
    }

    .project-image {
        height: unset;

        img {
            height: auto;
        }
    }
}

@include breakpoint.screen800 {
    .content-box {
        height: 96%;
        width: 80%;

        h2 {
            line-height: 35px;
        }
    }

    .all-images {
        width: 100%;
    }

    .project-image {
        img {
            width: 80%;
            height: auto;
        }
    }

    .test-section {
        gap: 4px;
        flex-wrap: wrap;
    }
}

@include breakpoint.screen500 {
    .content-box {
        width: 98%;

        h1 {
            font-size: 60px;
        }

        h2 {
            display: flex;
            flex-wrap: wrap;
            width: 220px;
            font-size: 28px;
            line-height: 35px;
        }

        h3 {
            font-size: 18px;
        }
    }

    .project-image {
        img {
            width: 88%;
        }
    }
}

@include breakpoint.screen450 {
    .content-box {
        height: 96%;

        span {
            line-height: 20px;
        }
    }

    button a {
        font-size: 16px;
    }
}

@include breakpoint.screen400 {

    .links-to-project {
        padding-bottom: 64px;
    }

    .project-image {
        height: 240px;
    }
}