<div class="overlay">
    <div class="content-box">
        <div class="close-button-img" (click)="closeOverlay()">
            <img src="../../../../assets/img/close_button.svg" alt="close-button">
        </div>
        <div class="project-information">
            <h1>{{index}}</h1>
            <h2>{{title}}</h2>
            <h3>What is this project about?</h3>
            <span>{{description}}</span>
            <div class="used-technologies" *ngFor="let technology of technologyData | keyvalue">
                <div class="test-section" *ngIf="technology.value.title === title">
                    <div class="list-section" *ngFor="let item of technology.value.technologyList; let i = index">
                        <span>{{item}}</span>
                        <img src="{{technology.value.technologyImageIcons[i]}}" alt="technologyImageIcons">
                    </div>
                </div>
            </div>
            <div class="links-to-project">
                <button>
                    <a href="#">GitHub</a>
                    <img src="../../../../assets/img/arrow_outward.svg" alt="arrow_outwards">
                </button>
                <button>
                    <a href="">Live Test</a>
                    <img src="../../../../assets/img/arrow_outward.svg" alt="arrow_outwards">
                </button>
            </div>
        </div>
        <div class="all-images">
            <div class="project-image">
                <img src="{{ imageSrc }}" alt="imageSrc">
            </div>
            <img src="../../../../assets/img/next_project.svg" alt="next-project-arrow">
        </div>
    </div>
</div>