.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(73, 70, 70, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content-box {
    display: flex;
    width: 720px;
    gap: 32px;
    flex-direction: column;
    width: 720px;

    h2 {
        font-size: 54px;
        color: rgba(255, 255, 255, 0.8);
    }

    span {
        color: rgba(61, 207, 182, 1);
    }

    img {
        border-radius: 32px;
    }
}