@use '../../../breakpoints.scss' as breakpoint;
$standardGreen: rgb(61, 207, 182);
$standardWhite: rgba(255, 255, 255, 0.8);
$backgroundPattern: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

@include breakpoint.touch-device {

    .content-box {
        width: 98%;
        height: 98%;

        h2 {
            font-size: 24px;
            width: 350px;
        }
    }

    @include breakpoint.screen1350 {

        .content-box {
            width: 80%;
            height: 60%;
        }

        .all-images {
            width: 70%;
        }

        .project-image {
            img {
                width: 70%;
            }
        }
    }

    @include breakpoint.screen1200 {

        .project-content-wrapper {
            padding: 16px;
            flex-direction: unset;
        }

        .content-box {
            width: 96%;
            height: 96%;
        }

        .project-image {
            img {
                width: 80%;
            }
        }

        .project-information {
            gap: 0;
            width: 90%;
            padding: 0;
        }
    }

    @include breakpoint.screen1024 {

        @media(min-height: 1000px) {
            .project-content-wrapper {
                flex-direction: column-reverse;
            }
        }
    }

    @include breakpoint.screen700 {

        .project-content-wrapper {
            padding: unset;
            flex-direction: column-reverse;
        }

        .content-box {
            span {
                line-height: 20px;
            }
        }

        .project-information {
            width: 85%;
            gap: 8px;
        }

        .project-image {
            height: 190px;

            img {
                width: 70%;
            }
        }

        .next-project-image-section-responsive {
            right: 0;
            bottom: 0;
        }

        .all-images {
            width: 90%;
        }
    }

    @include breakpoint.screen500 {

        .project-image {
            img {
                width: 90%;
            }
        }

        .project-information {
            gap: 0;
        }
    }
}