$backgroundPattern: repeating-linear-gradient(-45deg,
        rgba(61, 207, 182, 0.6) 0px,
        rgba(61, 207, 182, 0.6) 2px,
        transparent 2px,
        transparent 5px);

.faded-in-project {
    position: relative;
    border-radius: 16px;
    display: inline-block;

    img {
        width: 320px; 
        min-height: 0;
        height: auto;
        border-radius: 16px;
        box-shadow: none;
        position: relative;
        z-index: 105;
    }

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        z-index: -1;
        background: $backgroundPattern;
        opacity: 1;
        z-index: 104;
    }
}