.faded-in-project {
    // background-image: repeating-linear-gradient(45deg, transparent 0px, transparent 11px, rgb(61, 207, 182) 5px, rgb(61, 207, 182) 12px);
    border-radius: 16px;

    img {
        width: 320px;
        height: auto;
        border-radius: 16px;
    }
}