.projects {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 96px;
    color: rgba(255, 255, 255, 0.8);

    @media(max-width: 1350px) {
        justify-content: center;
    }
}

.content-wrapper-without-pop-ups {
    display: flex;
    flex-direction: column;

    @media(max-width: 1350px) {
        max-width: 560px;
    }
}

.content-above-single-projects {
    padding-bottom: 16px;

    @media(max-width: 700px) {
        width: 90%;
        gap: 16px;
    }
}

.collection-of-single-projects {
    display: flex;
    flex-direction: column;
}

.single-project-including-pop-up {
    display: flex;
    justify-content: space-between;
}

h2:nth-child(1) {
    font-family: 'Karla';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.06px;
    text-align: left;
    color: rgba(61, 207, 182, 1);

}

h2:nth-child(2) {
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.03em;
    text-align: left;
    padding-bottom: 16px;
    padding-top: 16px;
    color: rgba(61, 207, 182, 1);

    @media(max-width: 1350px) {
        font-family: 'Fira Code';
        font-size: 56px;
        font-weight: 700;
        line-height: 56px;
        text-align: left;
    }
}

.text-pop-up {
    border-radius: 16px;
}