<div class="projects">
    <h2>Portfolio</h2>
    <h2>Featured Projects</h2>
    <span>
        Explore a selection of my work here - Interact with
        projects to see my skills in action.
    </span>
    <app-single-project>
        <div class="project-title">
            Join
        </div>
        <div class="project-technologies">
            HTML | CSS | JavaScript
        </div>
    </app-single-project>
    <app-single-project>
        <div class="project-title">
            El Pollo Loco
        </div>
        <div class="project-technologies">
            HTML | CSS | JavaScript
        </div>
    </app-single-project>
    <app-single-project>
        <div class="project-title">
            DA Bubble (Coming Soon)
        </div>
        <div class="project-technologies">
            Angular | TypeScript | HTML | CSS | Firebase
        </div>
    </app-single-project>
</div>