.projects {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 96px;
    padding-top: 96px;
    padding-right: 96px;
    padding-left: 96px;
    color: rgba(255, 255, 255, 0.8);
}

.content-wrapper-without-pop-ups {
    display: flex;
    flex-direction: column;
}

.content-above-single-projects {
    padding-bottom: 16px;
}

.collection-of-single-projects {
    display: flex;
    flex-direction: column;
}

.single-project-including-pop-up {
    display: flex;
    justify-content: space-between;
}

h2:nth-child(1) {
    font-family: Karla;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.06px;
    text-align: left;
}

h2:nth-child(2) {
    font-family: Fira Code;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.03em;
    text-align: left;
    padding-bottom: 16px;
    padding-top: 16px;
}

.test-pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}