.projects {
    padding-left: 96px;
    padding-top: 96px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 880px;
}

.content-above-single-projects {
    padding-bottom: 16px;
}

// span {
//     color: rgba(255, 255, 255, 0.8);
// }

h2:nth-child(1) {
    font-family: Karla;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.06px;
    text-align: left;
}

h2:nth-child(2) {
    font-family: Fira Code;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.03em;
    text-align: left;
    padding-bottom: 16px;
    padding-top: 16px;
}