@use '../app/breakpoints.scss' as breakpoint;

.router-outlet-container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    z-index: 20;
    // background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}

@include breakpoint.screen1440 {
    .router-outlet-container {
        flex-wrap: wrap;
    }
}