@use '../app/breakpoints.scss' as breakpoint;

.router-outlet-container {
    margin: 0 auto;
    width: 1440px;
    z-index: 20;
    min-height: 100vh;
}

@include breakpoint.screen1440 {
    .router-outlet-container {
        width: 100%;
        flex-wrap: wrap;
    }
}