$breakpoints: (
    screen360: 360px,
    screen375: 375px,
    screen400: 400px,
    screen450: 450px,
    screen500: 500px,
    screen600: 600px,
    screen700: 700px,
    screen768: 768px,
    screen800: 800px,
    screen850: 850px,
    screen950: 950px,
    screen1024: 1024px,
    screen1200: 1200px,
    screen1350: 1350px,
    screen1440: 1440px,
    screen1600: 1600px
);

/* --- Media Queries für Touch/Nicht-Touch-Devices --- */

@mixin touch-device {

    @media (hover: none) {
        @content;
    }
}

@mixin non-touch-device {
    @media (hover: hover) {
        @content;
    }
}

/* --- Media Queries für Maximalbreiten --- */

@mixin screen360 {
    $value: map-get($breakpoints, screen360);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen400 {
    $value: map-get($breakpoints, screen400);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen450 {
    $value: map-get($breakpoints, screen450);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen500 {
    $value: map-get($breakpoints, screen500);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen600 {
    $value: map-get($breakpoints, screen600);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen700 {
    $value: map-get($breakpoints, screen700);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen800 {
    $value: map-get($breakpoints, screen800);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen950 {
    $value: map-get($breakpoints, screen950);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen1024 {
    $value: map-get($breakpoints, screen1024);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen1200 {
    $value: map-get($breakpoints, screen1200);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen1350 {
    $value: map-get($breakpoints, screen1350);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen1440 {
    $value: map-get($breakpoints, screen1440);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin screen1600 {
    $value: map-get($breakpoints, screen1600);

    @media only screen and (max-width: #{$value}){
        @content;
    }
}

/* --- Media Queries für Maximalhöhen  --- */

@mixin screenHeight600 {
    $value: map-get($breakpoints, screen600);

    @media only screen and (max-height: #{$value}) {
        @content;
    }
}

@mixin screenHeight700 {
    $value: map-get($breakpoints, screen700);

    @media only screen and (max-height: #{$value}) {
        @content;
    }
}

@mixin screenHeight800 {
    $value: map-get($breakpoints, screen800);

    @media only screen and (max-height: #{$value}) {
        @content;
    }
}

/* --- Media Queries für Kombination aus Maximalhöhen und Maximalbreiten --- */

@mixin screen400AndHeight800 {
    $width: map-get($breakpoints, screen400);
    $height: map-get($breakpoints, screen800);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen500AndHeight800 {
    $width: map-get($breakpoints, screen500);
    $height: map-get($breakpoints, screen800);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen500AndHeight950 {
    $width: map-get($breakpoints, screen500);
    $height: map-get($breakpoints, screen950);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen1024AndHeight600 {
    $width: map-get($breakpoints, screen1024);
    $height: map-get($breakpoints, screen600);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen320AndHeight533 {
    $width: map-get($breakpoints, screen320);
    $height: map-get($breakpoints, screen533);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

/* --- Media Queries für Minimalhöhen --- */

@mixin screenMinHeight850 {
    $value: map-get($breakpoints, screen850);

    @media only screen and (min-height: #{$value}) {
        @content;
    }
}