$breakpoints: (
    screen320: 320px,
    screen360: 360px,
    screen375: 375px,
    screen480: 480px,
    screen533: 533px,
    screen568: 568px,
    screen600: 600px,
    screen640: 640px,
    screen768: 768px
);

@mixin screen768AndHeight360 {
    $width: map-get($breakpoints, screen768);
    $height: map-get($breakpoints, screen360);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen320AndHeight533 {
    $width: map-get($breakpoints, screen320);
    $height: map-get($breakpoints, screen533);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen375AndHeight667 {
    $width: map-get($breakpoints, screen375);
    $height: map-get($breakpoints, screen667);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen320AndHeight568 {
    $width: map-get($breakpoints, screen320);
    $height: map-get($breakpoints, screen568);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen320AndHeight480 {
    $width: map-get($breakpoints, screen320);
    $height: map-get($breakpoints, screen480);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen360AndHeight640 {
    $width: map-get($breakpoints, screen360);
    $height: map-get($breakpoints, screen640);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}

@mixin screen360AndHeight600 {
    $width: map-get($breakpoints, screen360);
    $height: map-get($breakpoints, screen600);

    @media only screen and (max-width: #{$width}) and (max-height: #{$height}) {
        @content;
    }
}