.skills {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    h2 {
        font-size: 54px;
        font-weight: 500;
        line-height: 64.8px;

    }

    .all-skills-section {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .skills-section-one {
            display: flex;
            gap: 96px;
        }

        .skills-section-two {
            display: flex;
            gap: 10%;
        }
    }
}