<div class="skills-section" id="skills-section">
    <div class="my-skillset-description">
        <h2>{{"skillSet.h2First" | translate}}</h2>
        <div class="skills-description-section">
            <h2>{{"skillSet.h2Second" | translate}}</h2>
            <span>{{"skillSet.spanFirst" | translate}}</span>
            <div class="h3-section">
                <h3>{{"skillSet.h3First" | translate}}</h3>
                <h3>{{"skillSet.h3Second" | translate}}</h3>
            </div>
            <span>{{"skillSet.spanSecond" | translate}}</span>
            <app-button-style>Let's Talk</app-button-style>
        </div>
    </div>
    <div class="all-skills-listed-section">
        <div class="single-technology" *ngFor="let singleTechnology of getTechnologyListValues()">
            <div class="technology-icon-wrapper">
                <img src={{singleTechnology.imageSrc}} alt="imgSrc">
            </div>
            <div class="technology-name-wrapper">
                <p>{{singleTechnology.name}}</p>
            </div>
        </div>
        <div class="growth-mindset-wrapper">
            <div class="technology-icon-wrapper" (mouseenter)="setHovered(true)" (mouseleave)="setHovered(false)"
                [ngStyle]="{display: styleValueHovered}">
                <img src="../../../../assets/img/growth-mindset-unhovered.svg" alt="growth-mindset-unhovered">
            </div>
            <div class="technology-icon-wrapper" [ngStyle]="{display: isHovered == true ? 'block' : 'none'}">
                <img src="../../../../assets/img/growth-mindset-hovered.svg" alt="growth-mindset-hovered">
            </div>
        </div>
    </div>
</div>