@use '../../breakpoints.scss' as breakpoint;

$backgroundPattern: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);

$standardWhite: rgba(255, 255, 255, 1);
$standardGreen: rgba(61, 207, 182, 1);

.skills-section {
    width: 90%;
    margin: 0 auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $backgroundPattern;
}

.my-skillset-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 96px;
    max-width: 560px;
    padding: 16px 16px 64px 16px;
}

.all-skills-listed-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    padding: 16px;
    gap: 72px;
}

.single-technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: $standardWhite;

    p {
        font-family: "Fira Code";
        font-weight: normal;
        font-size: 16px;
        text-align: center;
    }

    &:hover {
        img {
            transform: scale(1.125);
        }
    }
}

.growth-mindset-wrapper {
    position: relative;
    display: inline-block;
}

.growth-mindset-unhovered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;

    p {
        font-family: "Fira Code";
        font-size: 18px;
        color: $standardWhite;
        width: 130px;
    }

    &::after {
        content: url("../../../assets/img/special_interest_bubble.svg");
        position: absolute;
        top: -100px;
        width: 110px;
        height: 110px;
        opacity: 0;
        pointer-events: none;
    }

    &:hover::after {
        opacity: 1;
    }
}

h2 {
    color: $standardGreen;
}

.skills-description-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 30px;
    background-color: rgb(31, 46, 43);
    border: 1px solid $standardGreen;
    flex-wrap: wrap;

    h2 {
        font-size: 64px;
        font-family: 'Fira Code';
        font-weight: 700;
        line-height: 64px;
    }

    span {
        color: $standardWhite;
    }
}

.h3-section {
    display: flex;
    gap: 16px;

    h3 {
        font-family: 'Fira Code';
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }

    h3:nth-child(1) {
        color: $standardWhite;
    }

    h3:nth-child(2) {
        color: $standardGreen;
    }
}

// All media queries listed

@include breakpoint.screen1350 {
    .skills-section {
        padding-top: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .all-skills-listed-section {
        max-width: 560px;
        display: flex;
        justify-content: center;
    }

    .skills-description-section {
        h2 {
            font-family: 'Fira Code';
            font-size: 56px;
            font-weight: 700;
            line-height: 44.8px;
            text-align: left;
        }

        h3 {
            font-family: 'Fira Code';
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
        }

        span {
            font-family: 'Karla';
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
        }
    }
}

@include breakpoint.screen950 {
    .skills-description-section {
        h2 {
            font-size: 48px;
        }
    }
}

@include breakpoint.screen700 {
    .skills-section {
        align-self: center;
        width: 100%;
    }

    .my-skillset-description {
        max-width: unset;
        width: 100%;
    }

    .skills-description-section {
        h2 {
            font-size: 40px;
        }
    }
}

@include breakpoint.screen500 {
    .skills-section {
        width: 100%;
    }

    .my-skillset-description {
        padding-bottom: 48px;
    }

    .all-skills-listed-section {
        gap: 32px;
    }

    .h3-section {
        gap: 4px;
    }

    .h3-section {
        h3 {
            font-size: 18px;
        }
    }

    .skills-description-section {
        padding: 16px;
        gap: 12px;

        h2 {
            text-align: center;
            font-size: 24px;
        }
    }

    .single-technology {
        width: 64px;

        p {
            font-size: 14px;
        }
    }

    .growth-mindset-wrapper {
        width: 64px;
        flex-wrap: wrap;

        p {
            font-size: 14px;
        }
    }

    .growth-mindset-unhovered {
        p {
            width: 108px;
        }
    }

    .growth-mindset-unhovered::after {
        top: -100px;
        right: 50px;
        width: 80px;
        height: 80px;
        opacity: 0;
        pointer-events: none;
    }

    .h3-section {
        justify-content: center;
    }

    app-button-style {
        align-self: center;
    }
}

@include breakpoint.screen400 {
    .h3-section {
        flex-direction: column;
        align-items: center;
    }
}