<!-- <div class="skills">
    <h2>My Skills</h2>
    <div class="all-skills-section">
        <div class="skills-section-one">
            <img src="../../../assets/img/angular_skill.png" alt="angular-logo">
            <img src="../../../assets/img/typescript_skill.png" alt="typescript-logo">
            <img src="../../../assets/img/javascript_skill.png" alt="javascript-logo">
            <img src="../../../assets/img/html_skill.png" alt="html-logo">
            <img src="../../../assets/img/css_skill.png" alt="css-logo">
            <img src="../../../assets/img/rest-api_skill.png" alt="rest-api-logo">
        </div>
        <div class="skills-section-two">
            <img src="../../../assets/img/firebase_skill.png" alt="firebase-logo">
            <img src="../../../assets/img/git_skill.png" alt="git-logo">
            <img src="../../../assets/img/scrum_skill.png" alt="scrum-logo">
            <img src="../../../assets/img/material_design_skill.png" alt="material-design-logo">
            <img src="../../../assets/img/challenge_me_skill.png" alt="challenge_me_logo">
        </div>
    </div>
</div> -->