<div class="all-projects">
    <h2>My Projects</h2>
    <div class="project">
        <img src="../../../assets/img/join_image.png" alt="join_image">
        <div class="description">
            <h3>Join</h3>
            <div class="used-technologies">
                <span>Angular | TypeScript | HTML | CSS | Firebase</span>
            </div>
            <span>
                Task manager inspired by the Kanban System.
                Create and organize tasks using drag and drop functions, assign users and categories.
            </span>
            <div class="button-links">
                <button>
                    <a href="#">GitHub</a>
                </button>
                <button>
                    <a href="#">Live Test</a>
                </button>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="description">
            <h3>El Pollo Loco</h3>
            <div class="used-technologies">
                <span>Javascript | HTML | CSS</span>
            </div>
            <span>
                Jump, run and throw game based on object-oriented approach.
                Help Pepe to find coins and tabasco salsa to fight against the crazy hen.
            </span>
            <div class="button-links">
                <button>
                    <a href="#">GitHub</a>
                </button>
                <button>
                    <a href="#">Live Test</a>
                </button>
            </div>
        </div>
        <img src="../../../assets/img/pollo_loco.png" alt="pollo-loco-image">
    </div>
</div>