<div class="all-projects">
    <h2>My Projects</h2>
    <div class="project">
        <img src="../../../assets/img/join_image.png" alt="join_image">
        <div class="description">
            <h3>Join</h3>
            <span>
                Task manager inspired by the Kanban System.
                Create and organize tasks using drag and drop functions, assign users and categories.
            </span>
        </div>
    </div>
    <div class="project">
        <div class="description">
            <h3>El Pollo Loco</h3>
            <span>
                Jump, run and throw game based on object-oriented approach.
                Help Pepe to find coins and tabasco salsa to fight against the crazy hen.
            </span>
        </div>
        <img src="../../../assets/img/pollo_loco.png" alt="pollo-loco-image">
    </div>
</div>