@use '../breakpoints.scss' as breakpoint;

$backgroundPattern: linear-gradient(#1C1C1C -5%, #79b5ab 0%);


.privacy-policy-container {
    background: $backgroundPattern;
}

.privacy-policy-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 24px;
    padding: 64px 64px 64px 64px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

// All media queries listed here

// Media Queries related to width 

@include breakpoint.screen500 {

    .privacy-policy-container {
        border-radius: unset;
    }

    // .privacy-policy-content-wrapper {
    //     padding: 108px 16px 16px 16px;
    // }
}