@use '../breakpoints.scss' as breakpoint;

$backgroundPattern: linear-gradient(#1C1C1C -5%, #79b5ab 0%);

.privacy-policy-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 24px;
    padding: 64px;
    top: 92px;
    border-radius: 8px;
    background: $backgroundPattern;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

// All media queries listed here

@include breakpoint.screen500 {
    .privacy-policy-container {
        padding: 16px;
        border-radius: unset;
    }
}