@use '../../../breakpoints.scss' as breakpoint;

$standardGreen: rgba(61, 207, 182, 1);

.single-project {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $standardGreen;
    border-bottom: 1px solid $standardGreen;
    padding: 40px 32px 40px 32px;
    justify-content: space-between;
    cursor: pointer;
    width: 760px;
    gap: 24px;
}

.technology:nth-child(even) {
    color: $standardGreen;
}

.project-title {
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

.project-technologies {
    display: flex;
    gap: 16px;
}

:hover {
    background-color: $standardGreen;
}

// All media queries are listed here

@include breakpoint.screen1350 {
    .single-project {
        font-size: 20px;
    }
}

@include breakpoint.screen950 {
    .content-above-single-project {
        max-width: 600px;
    }

    .single-project {
        max-width: 600px;
    }
}

@include breakpoint.screen700 {
    .single-project {
        max-width: 560px;
        width: 100%;
        font-size: 16px;
    }

    .project-technologies {
        gap: 4px;
        flex-wrap: wrap;
    }
}