.single-project {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(61, 207, 182, 1);
    border-bottom: 1px solid rgba(61, 207, 182, 1);
    padding: 40px 32px 40px 32px;
    justify-content: space-between;
    cursor: pointer;
    width: 760px;
    gap: 24px;

    .project-title {
        font-family: 'Fira Code';
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }

    .project-technologies {
        display: flex;
        gap: 16px;

        @media(max-width: 700px) {
            gap: 4px;
        }
    }

    .technology:nth-child(even) {
        color: rgba(61, 207, 182, 1);
    }

    @media(max-width: 1350px) {
        width: 560px;
    }

    @media(max-width: 700px) {
        max-width: 560px;
        width: 90%;
    }
}

:hover {
    background-color: rgba(61, 207, 182, 1);
}