@use '../breakpoints.scss' as breakpoint;

* {
    background: linear-gradient(#1C1C1C -5%, #79b5ab 0%);
}

.legal-notice-container {
    height: 100vh;
    display: flex;
}

app-footer {
    position: absolute;
    bottom: 0;
    width: min(100%, 1440px);
}

.legal-notice-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

a {
    text-decoration: none;
    color: blue;
}

@include breakpoint.screenHeight800 {
    .legal-notice-content-wrapper {
        overflow-y: scroll;
    }
}