* {
    background: linear-gradient(#1C1C1C -5%, #79b5ab 0%);
}

.legal-notice-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 24px;
    padding: 64px;
    top: 100px;
    border-radius: 8px;
    height: calc(100vh - 200px - 120px);
}

a {
    text-decoration: none;
    color: blue;
}