<!-- <app-header></app-header> -->
<div class="legal-notice-container">
    <h1>Impressum</h1>
    <p>Simon Kiesner<br />
        Leopoldstra&szlig;e 2<br />
        77977 Rust</p>
    <h2>Kontakt</h2>
    <p>Telefon: <a href="tel:+49 17642662120">+49 17642662120</a></p>
    <p>E-Mail: <a href="mailto:simon.kiesner@gmx.de">simon.kiesner&#64;gmx.de</a></p>
    <h2>Redaktionell verantwortlich</h2>
    <p>Simon Kiesner<br />
        Leopoldstra&szlig;e 2<br />
        77977 Rust</p>
    <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</div>
<!-- <app-footer></app-footer> -->