@use '../breakpoints.scss' as breakpoint;

* {
    background: linear-gradient(#1C1C1C -5%, #79b5ab 0%);
}

.legal-notice-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    width: 100%;
    min-height: 75vh;
}

a {
    text-decoration: none;
    color: blue;
}

// Media Queries related to height

@include breakpoint.screenHeight800 {
    .legal-notice-content-wrapper {
        overflow-y: auto;
    }
}

@include breakpoint.screenMinHeight850 {

    .legal-notice-container {
        display: flex;
        flex-direction: column;
    }
}