<div class="why-me-section">
    <div class="second-me-image">
        <img src="../../../assets/img/real_placeholder_two.png" alt="">
    </div>
    <div class="reason-why-me-section">
        <div class="why-me-text">
            <h2>Why Me</h2>
            <span>
                I am motivated to continuously learn new technologies and develop myself.
                My ability to solve complex problems and my passion for programming make me
                a valuable member of your team.
            </span>
        </div>
        <div class="i-am-graphics-section">
            <h2>I am</h2>
            <div class="all-graphics-section">
                <div class="location-and-computer-section">
                    <div class="image-text-area">
                        <img src="../../../assets/img/location-icon.png" alt="location-image">
                        <span>located in Rust</span>
                    </div>
                    <div class="arrow-down">
                        <img src="../../../assets/img/arrow_5.png" alt="arrow-down-image">
                    </div>
                    <div class="image-text-area">
                        <img src="../../../assets/img/remote-icon.png" alt="remote-image">
                        <span>Open to work remote</span>
                    </div>
                </div>
                <div class="arrow-and-relocation-section">
                    <div class="arrow-up">
                        <img src="../../../assets/img/arrow_4.png" alt="arrow-up">
                    </div>
                    <div class="image-text-area">
                        <img src="../../../assets/img/relocation-icon.png" alt="relocate-image">
                        <span>open to relocate</span>
                    </div>
                </div>
                <div class="arrow-to-talk-section">
                    <div class="arrow-to-talk">
                        <img src="../../../assets/img/arrow_01.png" alt="arrow-to-talk">
                    </div>
                    <div class="button-style">
                        <a href="">Let's talk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>