.person-description-section {
    display: flex;
    justify-content: space-around;
    color: rgba(61, 207, 182, 1);
    color: rgb(61, 207, 182);
    margin: 0 auto;
    height: 850px;
    padding-top: 96px;
    padding-bottom: 96px;

    @media(max-width: 1350px) {
        height: unset;
        margin: unset;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @media(max-width: 500px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.who-i-am-section {
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 20px;

    @media(max-width: 1350px) {
        padding-top: 20px;
        align-self: unset;
    }

    @media(max-width: 700px) {
        width: 96%;
    }

    @media(max-width: 500px) {
        width: 90%;
    }
}

.about-me-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 30px;
    background-color: rgb(31, 46, 43);
    border: 1px solid rgba(61, 207, 182, 1);
    // max-width: 568px;
    flex-wrap: wrap;

    h2 {
        font-size: 64px;
        font-family: 'Fira Code';
        font-weight: 700;
        line-height: 64px;
    }

    span {
        color: rgba(255, 255, 255, 0.8);
    }

    @media(max-width: 1350px) {
        gap: 16px;

        h2 {
            font-family: 'Fira Code';
            font-size: 56px;
            font-weight: 700;
            line-height: 44.8px;
            text-align: left;
        }

        span {
            font-family: 'Karla';
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
        }
    }

    @media(max-width: 950px) {
        h2 {
            font-size: 48px;
        }
    }

    @media(max-width: 700px) {
        h2 {
            font-size: 40px;
        }
    }

    @media(max-width: 500px) {
        h2 {
            font-size: 32px;
        }
    }
}

.information-wrapper {
    display: flex;
    gap: 24px;

    img {
        width: 32px;
        height: 32px;
    }
}

img {
    width: 520px;
    height: auto;
    border-radius: 30px;
    align-self: start;

    @media(max-width: 1350px) {
        align-self: unset;
    }

    @media(max-width: 700px) {
        width: 96%;
    }
}

h2 {
    font-family: 'Karla';
    font-size: 24px;
    font-weight: 500;
    line-height: 28.06px;
}