<div class="why-me-section">
    <div class="second-me-image">
        <img src="../../../assets/img/placeholder_2.png" alt="">
    </div>
    <div class="reason-why-me-section">
        <div class="why-me-text">
            <h2>Why Me</h2>
            <span>
                I am motivated to continuously learn new technologies and develop myself.
                My ability to solve complex problems and my passion for programming make me
                a valuable member of your team.
            </span>
        </div>
        <div class="i-am-graphics-section"></div>
    </div>
</div>