.why-me-section {
    padding-top: 40px;
    padding-left: 105px;
    display: flex;
    // .reason-why-me-section {
    //     display: flex;
    // }

    .second-me-image {
        img {
            width: 488px;
        }
    }
}