.why-me-section {
    padding-top: 40px;
    padding-left: 105px;
    display: flex;

    .reason-why-me-section {
        .i-am-graphics-section {
            padding-top: 24px;
            display: flex;
            // flex-direction: column;
            gap: 24px;

            .all-graphics-section {
                display: flex;
                // justify-content: space-between;
                align-items: center;

                .arrow-and-relocation-section {
                    display: flex;
                    flex-direction: column-reverse;

                    .relocate-to-talk-section {
                        display: flex;
                    }
                }
            }

            .image-text-area {
                display: flex;
                align-items: center;

                span {
                    font-size: 18px;
                }
            }

            .image-text-area:nth-child(1) {
                padding-left: 16px;
            }
        }
    }

    .second-me-image {
        img {
            width: 488px;
        }
    }
}