<section>
    <div class="person-description-section" id="person-description-section" data-aos="fade-right">
        <div class="me-image-container">
            <img ngSrc="../../../assets/img/me_different_filter_resized.jpg" width="520" height="571.4"
                alt="programmer-img" priority="">
        </div>
        <div class="who-i-am-section">
            <h2>{{'aboutMe.h2First' | translate}}</h2>
            <div class="about-me-description">
                <h2>{{'aboutMe.h2Second' | translate}}</h2>
                <span>{{'aboutMe.spanFirst' | translate}}</span>
                <div class="information-wrapper">
                    <img src="../../../assets/img/location.svg" alt="location">
                    <div class="info-text">
                        <span>{{'aboutMe.spanSecond' | translate}}</span>
                    </div>
                </div>
                <div class="information-wrapper">
                    <img src="../../../assets/img/cognition.svg" alt="cognition">
                    <div class="info-text">
                        <span>{{'aboutMe.spanThird' | translate}}</span>
                    </div>
                </div>
                <div class="information-wrapper">
                    <img src="../../../assets/img/releases.svg" alt="releases">
                    <div class="info-text">
                        <span>{{'aboutMe.spanFourth' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>