.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 30px;
    background-color: rgb(31, 46, 43);
    border: 1px solid rgba(61, 207, 182, 1);
    max-width: 568px;
    flex-wrap: wrap;
}