@use '@angular/material' as mat;
@use './app/breakpoints.scss';
@include mat.core();

// general global styling

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla';
    scroll-behavior: smooth;
}

body {
    background-color: #1C1C1C;
    min-height: 100vh;
    overflow-x: hidden;
}

.custom-snackbar {
    background-color: rgb(4, 5, 4);
    color: rgba(249, 251, 255, 0.5);
    font-size: 16px;
    border-radius: 8px;
    padding: 12px;
}

.custom-error {
    background-color: rgb(4, 5, 4);
    color: rgba(249, 251, 255, 0.5);
    font-size: 16px;
    border-radius: 8px;
    padding: 12px;
}

.legal-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(38, 129, 114);
}

// scrollbar styling

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(46, 100, 91) 20%, rgb(38, 129, 114) 80%);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgb(38, 129, 114) 20%, rgb(46, 100, 91) 80%);
    border: 3px solid rgba(255, 255, 255, 0.4);
}

// incorporated font-faces

@font-face {
    font-family: 'Roboto Mono';
    font-stretch: normal;
    font-style: italic;
    font-weight: 500;
    src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Handjet';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Handjet-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Karla-Regular.ttf') format('truetype');
}