@use '@angular/material' as mat;
@include mat.core();

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla';
    scroll-behavior: smooth;
}

body {
    background-color: #1C1C1C;
}

.custom-snackbar {
    background-color: rgb(4, 5, 4);
    color: rgba(249, 251, 255, 0.5);
    font-size: 16px;
    border-radius: 8px;
    padding: 12px;
}

.custom-error {
    background-color: rgb(4, 5, 4);
    color: rgba(249, 251, 255, 0.5);
    font-size: 16px;
    border-radius: 8px;
    padding: 12px;
}

@font-face {
    font-family: 'Roboto Mono';
    font-stretch: normal;
    font-style: italic;
    font-weight: 500;
    src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Handjet';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Handjet-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Karla-Regular.ttf') format('truetype');
}