/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla';
    // font-family: 'Roboto Mono';
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    // background: linear-gradient(174.25deg, #0B042D 24.9%, #1F0B80 39.2%, #0B042F 72.02%, #241085 106.54%);
}

@font-face {
    font-family: 'Roboto Mono';
    font-stretch: normal;
    font-style: italic;
    font-weight: 500;
    src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Handjet';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Handjet-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Karla-Regular.ttf') format('truetype');
}