.about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 105px;


    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 82px;


        .contact-me-link {
            transform: rotate(-90deg);

            a {
                text-decoration: none;
                color: #E15544;
                border: 1px solid #02F4BF;
                font-family: 'Roboto Mono';
                font-weight: 400;
                font-size: 18px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 30px;
                padding-left: 30px;
            }
        }
    }

    .arrow-down-image {
        width: 22px;
        position: absolute;
        right: calc((100% - 22px) / 1.75);
        cursor: pointer;
    }

    .name-and-profession {
        display: flex;
        flex-direction: column;
        color: #02F4BF;
        width: 55%;

        span:nth-child(2) {
            font-family: 'Roboto Mono';
            font-size: 82px;
            color: #02F4BF;
            font-weight: 800;
            line-height: 98.4px;
        }

        span:nth-child(1) {
            font-weight: 500;
            font-family: 'Roboto Mono';
            color: #02F4BF;
            font-size: 54px;
            line-height: 64.8px;
        }
    }

    .image-container-me img {
        width: 539px;
    }
}