@use '../../breakpoints.scss' as breakpoint;

$standardGreen: rgba(61, 207, 182, 1);
$standardWhite: rgba(217, 217, 217, 1);
$backgroundPattern: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
$blurFilter: blur(5.300000190734863px);

section {
    width: 100%;
}

.me-presentation {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    height: calc(100vh - 96.16px);
    width: 100%;
    max-width: 1920px; 
    margin: 0 auto;
}

.me-presentation-lower-wrapper-part {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding-right: 96px;
    padding-left: 96px;
}

.left-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        filter: $blurFilter;
    }
}

.arrow-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
    height: 60px;

    a {
        width: 32px;
        height: 48px;

        img {
            position: absolute;
            cursor: pointer;
        }

        img:nth-child(1) {
            opacity: 1;
        }

        img:nth-child(2) {
            opacity: 0;
        }
    }

    a:hover {
        img:nth-child(1) {
            animation: arrow-fade-out 0.25s infinite alternate;
        }

        img:nth-child(2) {
            animation: arrow-fade-in 0.25s infinite alternate;
        }
    }
}

@keyframes arrow-fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes arrow-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.name-and-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    align-self: center;
    padding-top: 48px;

    h2:nth-child(1) {
        font-family: 'Fira Code';
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        color: $standardWhite;
    }

    h2:nth-child(2) {
        font-family: 'Karla';
        font-size: 128px;
        font-weight: 700;
        line-height: 128px;
        color: $standardWhite;
    }
}

.contact-and-work-buttons {
    display: flex;
    gap: 48px;
    z-index: 10;
}

.marquee-section {
    position: absolute;
    bottom: 11%; 
    left: 0;
    background-color: rgba(255, 255, 255, 0.12);
    display: flex;
    justify-content: space-evenly;
    color: $standardGreen;
    padding: 12px 32px; 
    transform: rotate(-3deg);
    width: 100%;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: $blurFilter;

    ul {
        display: flex;
        flex-shrink: 0;
        gap: 180px;
        min-width: 150%;
        animation: scroll-marquee 10s linear infinite;
        will-change: transform;
        white-space: nowrap;

        li {
            font-family: 'Karla';
            font-size: 32px;
            font-weight: 400;
            line-height: 38.4px;
            text-align: left;
            flex: none;
        }
    }

    @keyframes scroll-marquee {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-100%);
        }
    }
}

.skills-and-mail {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .center-image {
        display: flex;
        justify-content: center;
        align-items: end;
    }
}

.icon-container {
    display: flex;
    width: 40px;
    gap: 16px;
    flex-direction: column-reverse;
    align-items: center;
}

.email-link {
    transform: rotate(180deg);
    writing-mode: vertical-rl;

    a {
        text-decoration: none;
        color: $standardWhite;
        font-family: 'Karla';
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        cursor: pointer;

        &:hover {
            color: $standardGreen;
        }
    }
}

.git-icons,
.mail-icons,
.linkedin-icons {
    position: relative;
    width: 32px;
    height: 32px;
}

.git-icons img {
    padding-bottom: 8px;
}

.git-icons img,
.mail-icons img,
.linkedin-icons img {
    position: absolute;
    bottom: 0;
}

.hidden {
    display: none;
}

// all media queries related to screen-width

@include breakpoint.screenMinWidth1700 {
    .marquee-section {
        bottom: 5%;
    }
}

@include breakpoint.screen1440{
    .marquee-section {
        bottom: 11%;
    }
}

@include breakpoint.screen1200 {
    .me-presentation {
        padding-top: 108px;
        justify-content: flex-start;
    }

    .name-and-profession {
        h2 {
            line-height: 100px;
        }
    }

    .marquee-section {
        bottom: 5%;
    }
}

@include breakpoint.screen950 {
    .me-presentation-lower-wrapper-part {
        padding-right: 24px;
        padding-left: 24px;
    }

    .name-and-profession {
        padding-top: unset;
        justify-content: center;

        h2:nth-child(1) {
            font-size: 48px;
            line-height: 48px;
            text-align: left;
        }

        h2:nth-child(2) {
            font-size: 80px;
            line-height: 80px;
            text-align: left;
        }
    }
}

@include breakpoint.screen700 {
    .name-and-profession {
        h2:nth-child(1) {
            font-size: 24px;
            line-height: 24px;
            text-align: left;
        }

        h2:nth-child(2) {
            font-size: 62px;
            line-height: 62px;
            text-align: left;
        }
    }

    .marquee-section {
        padding: 8px 12px 8px 12px;

        ul {
            li {
                font-size: 24px;
            }
        }
    }

    .left-lateral {
        left: 16px;
    }

    .skills-and-mail {
        right: 16px;
    }
}

@include breakpoint.screen500 {

    .me-presentation-lower-wrapper-part {
        padding-right: 0;
        padding-left: 0;
    }

    .contact-and-work-buttons {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .name-and-profession {
        max-width: 280px;
        flex-wrap: wrap;
        align-self: center;
        gap: 32px;

        h2:nth-child(1) {
            text-align: center;
        }

        h2:nth-child(2) {
            font-size: 44px;
            text-align: center;
            line-height: 48px;
        }
    }

    .me-presentation {
        padding-top: 80px; // 16px
    }

    .marquee-section {
        bottom: 2%;
        padding: 4px;

        ul {
            li {
                font-size: 20px;
            }
        }
    }

    .left-lateral {
        padding-left: 2px;
    }

    .skills-and-mail {
        padding-right: 2px;
    }

    .contact-and-work-buttons {
        gap: 16px;
    }
}

// all media queries related height screen

@include breakpoint.screenHeight700 {

    .me-presentation {
        padding-top: 16px;
        justify-content: flex-start;
    }

    .name-and-profession {
        gap: 24px;

        h2:nth-child(1) {
            font-size: 24px;
        }

        h2:nth-child(2) {
            font-size: 48px;
        }
    }
}