<div class="about-me">
    <div class="contact">
        <div class="contact-me-link">
            <a href="">Contact Me</a>
        </div>
        <div class="image-container-me">
            <img src="../../assets/img/placeholder_1.png" alt="Me">
        </div>
    </div>
    <div class="arrow-down-image">
        <img src="../../assets/img/arrow_down.png" alt="arrow-down">
    </div>
    <div class="name-and-profession">
        <span>FRONTEND DEVELOPER</span>
        <span>Simon Kiesner</span>
    </div>
</div>