<div class="me-presentation">
    <div class="name-and-profession">
        <h2>Frontend Developer</h2>
        <h2>Simon Kiesner</h2>
        <div class="contact-and-work-buttons">
            <button>Check my work</button>
            <button>Contact me</button>
        </div>
        <div class="marquee-section">
            <li>Frontend Developer</li>
            <li>Based in Rust</li>
            <li>Open to work</li>
            <li>Available for remote work</li>
        </div>
    </div>
    <div class="skills-and-mail">
        <div class="icon-container">
            <img src="../../../assets/img/linkedin_logo.png" alt="linkedin">
            <img src="../../../assets/img/git_logo.png" alt="git">
            <a href="#">Email</a>
        </div>
        <img src="../../../assets/img/center_img.png" alt="center">
    </div>
    <div class="left-lateral">
        <img src="../../../assets/img/left_lateral.png" alt="left-lateral">
    </div>
</div>